/* Nav bar */
body{
    position: relative;
    margin: 0;
    padding: 1rem 0 0 5rem;
    transition: 0.5s;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 58px + 170;
    height: 100vh;
    background-color: rgb(56, 54, 54);
    padding: 1.25rem 0.5rem 2rem;
    transition: 0.5s;
    z-index: 100;
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav__logo{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
}

.nav__logo-icon{
    margin-right: 0.75rem;
    width: 40px;
    height: 40px;
    color: aliceblue;
}

.nav__logo-text{
    font-size: 1rem;
    color: aliceblue;
    font-weight: 700;
}

.nav__link{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: aliceblue;
    transition: 0.5s;
}

.nav__link:hover{
    background: rgb(160, 188, 245);
    color: aliceblue;
}

.nav__icon{
    font-size: 1rem;
    margin-right: 0.75rem;
}

.nav__text{
    font-weight: 700;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  
  .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  
  .search-label {
    display: none;
  }
  
  .search-input {
    width: 175px;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  .search-input:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  
  .search-button {
    background-color: #2d2d2d;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-left: -35px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .search-button:hover {
    background-color: #555;
  }

/* form create */ 

/*
.create{
    width: 700px;
    height: auto;
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
    display: block;
    margin: auto;
    
}

.create_form label{
    font-size: 20px;
}

.create_form create_text-h1{
    text-align: center;
}

.create_form input{
    border-radius: 5px;
    border: 1px solid grey;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}

.create_form select{
    padding: 10px;
    margin-bottom: 20px;
    width: 300px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 5px;
}

.create_form button{
    width: 300px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(79, 204, 79);
}

*/


/* ---------- */
