body{
    background-color: #7a7878;
}

.cart{
    width: auto;
    height: auto;
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
    display: block;
    font-weight: 700;
    background-color: rgb(56, 54, 54);
    color: aliceblue;
    padding-bottom: 20px;
}

.cart h2{
    margin: 20px;
    padding-bottom: 20px;
}

.Cart_Text{
    margin: 70px;
    font-size: 20px;
}

.avt_user{
    align-items: center;
    margin-top: 20px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.cart_list{
    width: auto;
    height: auto;
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
    display: block;
    font-weight: 700;
    background-color: rgb(56, 54, 54);
    color: aliceblue;
    padding-bottom: 20px;
}

.table_1{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    border-bottom: 1px solid;
}

.table_1, th, td, tr{
    border-bottom: 1px solid;
}

.table_2{
    margin-top: 20px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

    border-bottom: 1px solid;
}

.table_2, th, td, tr{
    border-bottom: 1px solid;
}

.img_table_2{
    width: 80px;
    height: 80px;
}


