/* form create */

.update{
    width: 700px;
    height: auto;
    border-radius: 10px;
    border: 1px solid grey;
    text-align: center;
    display: block;
    margin: auto;
    background-color: #f8f8f8;
    font-weight: 700;
}

.update_form label{
    font-size: 20px;
}

.update_form update_text-h1{
    text-align: center;
}

.update_form input{
    border-radius: 5px;
    border: 1px solid grey;
    width: 300px;
    height: 40px;
    margin-bottom: 10px;
}

.update_form button{
    width: 100px;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 20px;
    border: none;
    background-color: rgb(79, 204, 79);
}

/* ---------- */